## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Jamestown,US,82.02,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,3,Salalah,OM,78.89,broken clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
2,5,Butaritari,KI,81.95,clear sky,3.0707,172.7902,Isles Sunset Lodge
3,7,Rikitea,PF,71.04,broken clouds,-23.1203,-134.9692,People ThankYou
4,9,Yambio,SS,67.28,overcast clouds,4.5721,28.3955,Naivasha Hotel

In [3]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# Assign the figure variable for gmaps - Configure the figure for fit and zoom

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
#  Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start = vacation_df.loc[(vacation_df['Hotel Name'] == 'Sun Stay Kaseda')]
vacation_end = vacation_df.loc[(vacation_df['Hotel Name'] == 'Sun Stay Kaseda')]
vacation_stop1 = vacation_df.loc[(vacation_df['Hotel Name'] == 'Goto Guesthouse Utojuku & SA Car Rental')]
vacation_stop2 = vacation_df.loc[(vacation_df['Hotel Name'] == 'Guest House Aki')] 
vacation_stop3 = vacation_df.loc[(vacation_df['Hotel Name'] == 'Hanaoka')]

In [6]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy(copy=True)
end = vacation_end.to_numpy(copy=True)
stop1 = vacation_stop1.to_numpy(copy=True)
stop2 = vacation_stop2.to_numpy(copy=True)
stop3 = vacation_stop3.to_numpy(copy=True)

start_tuple = (start[0,5], start[0,6])
end_tuple = (end[0,5], end[0,6])
stop1_tuple = (stop1[0,5], stop1[0,6])
stop2_tuple = (stop2[0,5], stop2[0,6])
stop3_tuple = (stop3[0,5], stop3[0,6])

In [7]:
# Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode is "DRIVING".

fig = gmaps.figure()
japan = gmaps.directions_layer(
        start_tuple, end_tuple, waypoints=[stop1_tuple, stop2_tuple, stop3_tuple],travel_mode='DRIVING', avoid_highways=True)
fig.add_layer(japan)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,817,Kaseda,JP,80.60,overcast clouds,31.4167,130.3167,Sun Stay Kaseda
1,974,Fukue,JP,80.58,heavy intensity rain,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
2,56,Nichinan,JP,76.68,moderate rain,31.6000,131.3667,Guest House Aki
3,640,Kushima,JP,75.83,light rain,31.4583,131.2333,Hanaoka

In [9]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# Assign the figure variable for gmaps
fig = gmaps.figure()

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))